#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #0C3152;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

@media (max-width: 992px) {
    #particles-js {
        height: 160vh;
    }
}

@media (max-width: 400px) {
    #particles-js {
        height: 120vh;
        background-color: #0C3152;
    }
}